<div class="well" *ngIf="currentPart">
    <part-editor [part]="currentPart" (onCancel)="cancelEdit()" (onSave)="savePart()"></part-editor>
</div>

<div class="row">
    <div class="col-md-12">
        <span id="totalCountLabel">You have {{totalCount}} parts on your list.</span>
        <button (click)="addPart()" class="btn btn-default pull-right">Add</button>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="text-center" style="width: 100px">ID</th>
                <th>Part name</th>
                <th>VW OEM number</th>
                <th>Webshop</th>
                <th class="text-center">Have it?</th>
                <th>Purchase date</th>
                <th class="text-center">Price (EUR)</th>
                <th class="text-center" style="width: 100px">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let part of parts">
                <td class="vert-align text-center">{{part.id}}</td>
                <td class="vert-align">{{part.partName}}</td>
                <td class="vert-align text-center">{{part.vwOemNumber}}</td>
                <td class="vert-align">{{part.webshopName}}</td>
                <td class="vert-align text-center">{{part.haveIt ? 'Yes': 'No'}}</td>
                <td class="vert-align text-center">{{part.purchaseDate}}</td>
                <td class="vert-align text-center">{{part.price}}</td>
                <td class="text-center">
                    <button class="btn btn-default btn-sm" (click)="editPart(part)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-default btn-sm" (click)="deletePart(part)"><i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li [ngClass]="{'disabled': currentPage == 1}">
                    <a href (click)="goToPreviousPage($event)">
                        <span>&laquo;</span>
                    </a>
                </li>
                <li *ngFor="let page of pages()" [ngClass]="{'active': currentPage == page}"><a href
                                                                                                (click)="goToPage(page, $event)">{{page}}</a>
                </li>
                <li [ngClass]="{'disabled': currentPage == lastPage()}">
                    <a href (click)="goToNextPage($event)">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
